.standart-button {
  height: 48px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 1e-5) 100%
    ),
    #3040c4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  font-size: 18px;
  font-weight: 700;
  border: none;
  width: 100%;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  @include for-large {
    width: 160px;
  }
  &_more {
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
    color: #3040c4;
    margin-top: 15px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  }
}
