* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Work Sans';
  color: #2b292d;
}
section {
  width: 100%;
}
@import 'variables';
@import 'mixins';
@import 'header';
@import 'logo';
@import 'burger';
@import 'headline';
@import 'buttons';
@import 'about';
@import 'audience';
@import 'cards';
@import 'order';
@import 'footer';
@import 'mixins';
@import 'navigation';
